<!--
 To use this Navigation Bar, use tag:
{#    {% include 'NavBar.html'  %}   #}

Make sure this is right below the <body> for it to work correctly.
 -->
<!-- Put navigation related content here, this will dynamically change based on the user logged in -->
<html>
<head>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #282c35;
    }

    li {
        float: left;
    }

    a {
        display: block;
        flex-direction: column;
        padding: 10px;
    }

    a:link {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }

    a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
</style>
</head>
<nav class="navbar">
    <ul>
        <!-- TODO change Dashboard to direct to correct place -->
        <li><a href='/dashboard/'>Dashboard</a></li>
        <li style="float:right"><form action = '{% url 'logout' %}' method = 'get'><a class="active" href="/">Logout</a></form></li>
    </ul>
</nav>
</html>