<!--
 To use this Navigation Bar, use tag:
{#    {% include 'NavBar.html'  %}   #}

Make sure this is right below the <body> for it to work correctly.
 -->
<!-- Put navigation related content here, this will dynamically change based on the user logged in -->
<html>
<head>
<style>

    body {
        background-color: white;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04AA6D;
}

li {
    float: left;
}

a {
    display: block;
    padding: 10px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
</style>
</head>
<body>

<ul>
    <!-- TODO change Dashboard to direct to correct place -->
    <li><a href="Home.html">Dashboard</a></li>
    <li style="float:right"><a class="active" href="Home.html">Logout</a></li>
</ul>

</body>
</html>