{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Notification Form</title>
    </head>
    <body>
        {% if is_supervisor %}
            <p>Send an email to all users</p>
            <form action="/notification/" method="post">
                {% csrf_token %}
                <label for="subject">Email Subject:</label>
                <input type="text" id="subject" name="subject" required>
                <label for="body">Email Body:</label>
                <input type ="text" id="body" name="body" required>
                <button type="submit">Send email</button>
            </form>
        {% else %}
            <form action="/notification/" method="post">
                {% csrf_token %}
                <p>Send email to all TAs</p>
                <select name="course">
                    {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.name }}</option>
                    {% endfor %}
                </select>
                <!-- Rest of the instructor form -->
            </form>
        {% endif %}
        <button type="button">
            <a href="{% url 'admin_dashboard' %}">Return to dashboard</a>
        </button>
    </body>
</html>